@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>By: Valdemir Pinheiro @ViewData["Studant"]</p>
<address>
    <strong>More information: </strong> <a href="http://linkedin.com/in/valdemir-pinheiro-/">Linkedin.com/Valdemir-Pinheiro</a>
</address>
